html {
    margin: 0 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

body {
    margin: 0 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 0;
    padding: 0;
    max-height: 15vh;
    background-color: rgba(70, 70, 70);
}

header a {
    margin: 0 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

header:before {
    content: "";  /* Ajout d'un élément vide pour l'équilibrage */
}

.logo{
    position: relative;
    margin: 0 0;
    padding: 0;
    scale: 50%;
    transition: transform 0.6s ease;
}

.logo:hover{
    transform: rotate(360deg)
}

.account {
    position: relative;
    transition: transform 0.3s ease;
    right: 3%;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.account:hover{
    filter:brightness(200%);
    transform: scale(1.2);
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 0;
    padding : 0;
    display: flex;
    justify-content: center;
    font-family: Forte, serif;
}

.category {
    padding: 10px;
    flex-basis: calc(25% - 10px);
    font-family: "Yu Gothic UI", sans-serif;
    font-weight: bold;
    background-color: #F8B500;
    text-align: center;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.category:hover {
    background-color: #cb9500;
    color: #333;
}

#final {
    margin-top: 30px;
    font-family: "Century Gothic", serif;
    font-style: italic;
}

footer {
    background-color: rgba(70, 70, 70);
    color: white;
    text-underline-mode: off;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0;
    margin-top: auto;
}

.footer-link {
    margin-right: 45px;
    margin-left: 45px;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.footer-link:hover, .footer-link-focus {
    filter: brightness(80%);
}

.contact-form {
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

button {
    background-color: #F8B500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #cb9500;
}

#forgotPassword {
    text-decoration: none;
    color: inherit;
}