main{
    position: relative;
    margin: 0 0;
    padding: 0;
}

main img{
    filter: brightness(0.5);
    margin: 0 0;
    padding: 0;
    min-height: 30%;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: 50vh;
    object-fit: cover;
}

main h2, h3 {
    position: absolute;
    color: #dcdada;
    transform: translateX(-50%);
    font-family: Bahnschrift, serif;
    z-index: 1;
}

main h2 {
    font-weight: bolder;
    font-size: 30px;
    top: 6%;
    left: 50%;
}

main h3 {
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    top: 14%;
    left: 50%;
}

section {
    margin: 50px 30% 30px;
}

@media screen and (max-width: 600px){
    main h3 {
        top: 20%;
    }

    section {
        margin: 50px 10% 30px;
    }
}

@media screen and (max-height: 600px){
    main h2 {
        font-size: 20px;
        top:2%;
    }
    main h3 {
        font-size: 15px;
        top: 9%;
    }
}