html,
body {
    margin: 0 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex; flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
    background-color: rgba(70, 70, 70);
    align-items: center;
    padding: 20px 0;
    max-height: 10vh;
    width: 100%;
}

#burger-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
    transition: transform 0.3s ease-in-out;
    /* display: none; */
}

#burger-menu.open {
    transform: rotate(45deg);
}

#burger-menu div {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

#burger-menu.open div {
    opacity: 0;
    transition: all 0.3s;
}

#burger-menu.open div:first-child {
    opacity: 1;
    transform: rotate(0deg) translate(0, calc(50% + 7px));
}

#burger-menu.open div:last-child {
    opacity: 1;
    transform: rotate(90deg) translate(-10px, 0px);
}



.header a {
    text-decoration: none;
    color: white;
}


.logo{
    position: relative;
    margin: 0 0;
    padding: 0;
    scale: 50%;
    flex: 1;
    transition: transform 0.6s ease;
}

.logo:hover{
    transform: rotate(360deg)
}

.account {
    position: relative;
    transition: transform 0.3s ease;
    right: 3%;
    background-color: transparent;
    border: none;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account:hover{
    filter:brightness(200%);
    transform: scale(1.2);
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Forte, serif;
}

.category {
    padding: 10px;
    flex-basis: calc(25% - 10px);
    font-family: "Yu Gothic UI", sans-serif;
    font-weight: bold;
    background-color: #F8B500;
    text-align: center;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.category:hover {
    background-color: #cb9500;
    color: #333;
}

#final {
    margin-top: 30px;
    font-family: "Century Gothic", serif;
    font-style: italic;
}

.footer {
    background-color: rgba(70, 70, 70);
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer ul li {
    margin: 0 15px;
}

.footer-link {
    margin-right: 45px;
    margin-left: 45px;
    /*  */
    padding: 10px 25px;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    line-height: 47px;
}

.footer-link:hover,
.footer-link:focus {
    filter: brightness(80%);
}

@media screen and (max-width: 600px) {
    .footer {
        padding: 20px 0;
    }
    .footer ul {
        flex-direction: column;
    }
    .footer ul li {
        margin: 5px 0;
    }
    .footer-link {
        padding: 5px 15px;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

button {
    background-color: #F8B500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #cb9500;
}

#forgotPassword {
    text-decoration: none;
    color: inherit;
}

/**
 * Mise en place de scroll bar personnalisé
 * Firefox n'est pas pris en charge pour cette modification
 */

/* Ceci est pour Webkit Browsers */
::-webkit-scrollbar {
    width: 12px;  /* la largeur des barres verticales*/
    height: 12px; /*  la hauteur des barres horizontales */
}

::-webkit-scrollbar-track {
    background: #f2f3f5; /* couleur du background de la scroll bar */
}

::-webkit-scrollbar-thumb {
    background: #c1c2c5; /* couleur du background de la poignée de la scroll bar */
    border-radius: 10px; /* arrondis sur la poignée de la barre de défilement */
}

/* Ceci est pour Internet Explorer (RIP) et Microsoft Edge */
body {
    scrollbar-base-color: #c1c2c5;
    scrollbar-face-color: #f2f3f5;
    scrollbar-3dlight-color: #c1c2c5;
    scrollbar-highlight-color: #c1c2c5;
    scrollbar-track-color: #f2f3f5;
    scrollbar-arrow-color: #c1c2c5;
    scrollbar-shadow-color: #c1c2c5;
}

.content {
    max-width: 590px;
    margin: 40px auto;
}

.contact-form {
    background-color: #F3F3F3;
    max-width: 590px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}


@media screen and (max-width: 600px) {
    .content {
        max-width: 100%;
        margin: 20px auto;
        padding: 0 20px;
    }

    .contact-form {
        padding: 20px;
    }

    .contact-form h2 {
        font-size: 20px;
    }

    .category {
        margin-bottom: 10px;
    }

    .header, .footer {
        padding: 10px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav .category {
        opacity: 0;
        height: 0;
        font-size: 0;
        margin-bottom: 0;
        padding: 0;
        transition: all 0.3s;
    }

    nav.open .category {
        opacity: 1;
        font-size: inherit;
        height: inherit;
        padding: 10px;
        margin-bottom: 10px;
        transition: all 0.3s;
    }

    #burger-menu {
        display: flex;
    }
}